.posts {
  .post__item {
    padding-bottom: 40px;
    padding-right: 40px;

    &:nth-of-type(2n) {
      padding-right: 0;
      padding-left: 40px;
    }
    @include media-breakpoint-down(sm) {
      padding-right: 15px;

      &:nth-of-type(2n) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    &--title {
      font-size: 1.325rem;
      line-height: 1.1em;
      letter-spacing: 0.5px;
      margin: 0 0 0.2em;
      font-weight: 500;
    }

    &--date {
      text-transform: lowercase;
      font-size: 0.8rem;
      color: #999;
      margin: 0 0 1.6em;
    }
  }
}
